body{
    overflow-x: hidden;
}

/*carousel*/


.content-body{
     margin-top: 50px;
    min-height: 100%;
}
#content-carousel{
    background: black;
}

.carousel-inner .item{
    text-align: center;
    overflow-y: hidden;
    min-height: 250px;
}

.carousel-inner .item img{
    height: 100%;
    width: auto;
    display:block;
    margin:auto;
}
/*carousel*/

/*content-body*/
.main-panel,.side-panel{
    margin: 0;
    padding: 0;
}



.main-panel .panel-body .list-group .list-group-item {
    margin-bottom: 10px;
}

.main-panel  .panel-heading{
    margin-left: 16px;
}

.side-panel .panel-heading{
    padding-left: 32px;
}


.col-img{
    height: 200px;
    margin-bottom: 10px;
}

.col-img img{
    height: 100%;
    width: 100%;
}

.maps-content{
    height: 500px;
    background: darkgrey;
    transition: all ease-in-out 0.5s;
}

.maps-content:hover{
    background: #333;
}

.panel{
    border: none;
    box-shadow: none;
}

.panel-heading{
    padding-left: 16px;
    font-size: 20px;
}
.panel-body{
    margin-left: 10px;
}

.card-content{
    
}

.card-title{
    font-size: 18px;
    margin-bottom: 10px;
}
/*content-body*/

.footer{
    margin-top: 50px;
}

.header-image{
    height: 500px;
    text-align: center;
}

.header-image img{
    height: 100%;
}

/** NAV BAR **/


.navbar-brand{
    position: relative;
    right: -50px;
}
.navbar-nav{
    position: relative;
    right: -260px;
    padding-left: 50px;
    padding-right: 50px;
}
.navbar-inverse{
    background-color: #ff8c00;
}
