body{
    margin: 0;
    font-family: "Goergia" , sans-serif;
    font-weight: 300;
}

/** NAVIGATION **/

.container{
    width: 90%;
    margin: 0 auto;
}

header{
    background: #ff8c00;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.piche{
    float: left;
    padding: 10px 5px;
    color: white;
    text-decoration: none;
    font-family: "georgia";
    font-size: 24px;
}

.logo{
    float: left;
    padding: 10px 0;
}

nav{
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 30px;
    padding-top: 45px;
    
    position: relative;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "georgia"
}

nav a:hover {
    color: gray;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: gray;
    
    position: absolute;
    top: 90px;
    width: 0%;
    
    transition: all ease-in-out 200ms;
}

nav a:hover::before{
    width: 100%;
}

/*carousel*/


.content-body{
     margin-top: 50px;
    min-height: 100%;
}
#content-carousel{
    background: black;
}

.carousel-inner .item{
    text-align: center;
    overflow-y: hidden;
    min-height: 250px;
}

.carousel-inner .item img{
    height: 100%;
    width: auto;
    display:block;
    margin:auto;
}
/*carousel*/

/*Announcement*/
.announcement{
    background: #ff8c00;
    margin-top: 20px;
}

.announcement::after{
    content: '';
    display: table;
    clear: both;
}

.announcement a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "georgia";
}

.announcement ul li {
    display: inline-block;
}

.announcement ul li .calendar{
    float: right;
    padding-left: 400px;
    padding-top: 10px;
}

.announcement ul li .announ{
    float: right;
    padding-left: 400px;
    padding-top: 10px;
}

/* MAP */

.maps-content{
    height: 500px;
    background: darkgrey;
    transition: all ease-in-out 0.5s;
}

.maps-content:hover{
    background: #333;
}

/* FOOTER */

footer{
    background: lightgray;
    padding: 10px;
}

footer::after{
    content: '';
    display: table;
    clear: both;
    
}

.quick-left{
    float: left;
    padding-left: 100px;
    padding-top: 40px;
    list-style: none;
    font-family: "georgia";
    font-size: 18px;
    color: black;
}
.quick-center{
    float: left;
    padding-left: 250px;
    padding-top: 40px;
    list-style: none;
    font-family: "georgia";
    font-size: 18px;
    color: black;

}
.contact{
    float: right;
    padding-right: 100px;
    padding-top: 40px;
    list-style: none;
    font-family: "georgia";
    font-size: 18px;
    color: black;
}

.quick-left a{
    color: black;
    
}

.quick-center a{
    color: black;
}

.contact li{
    color: gray;
    
}
.contact a{
    color: gray;
    
}

.copyright{
    background: #ff8c00;
}

.copyright::after{
    content: '';
    display: table;
    clear: both;
    
}
.copyright a{
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "georgia";
}

.copyright ul li {
    display: inline-block;
}

.copright ul li .copy{
    float: right;
    padding-left: 400px;
    padding-top: 10px;
}

.copyright ul li .right{
    float: right;
    padding-left: 500px;
    padding-top: 10px;
}